pre {
  max-height:400px;
  overflow: auto;
  font-weight: bold;
  font-size: 12px;
  color: darkred;
}

.product{
  background-color: #CCCCCC;
  padding: 1%;
  margin-top:10px;
  max-height: 350px;
  min-height: 350px;


}

.productImage{
  max-height: 150px;
  max-width: 150px;
  margin: 5%;
}

.productDesc{
    height: 75px;
    overflow: hidden;
}